# Extensions
# ------------------------------
*.x
*.exe
*.o
*.tar
# ------------------------------
# Directories
# ------------------------------
DOC
sample
.vscode/settings.json
.vscode
test
# ------------------------------
# Files
# ------------------------------

# ------------------------------