# Extensions
# ------------------------------
*.x
*.exe
*.o
# ------------------------------
# Directories
# ------------------------------
DOC
sample
.vscode/settings.json
.vscode
# ------------------------------
# Files
# ------------------------------
test_river.cc
# ------------------------------